@model ReceptionApp.Models.Visitor

@{
    ViewBag.Title = "Visitor Details";
}



<div>
    
    <hr />
    <dl class="dl-horizontal well">
        <h2>Details</h2>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index","Visitor")
</p>
